/* motion-kit/src/scss/_transitions.scss */

.anim-base {
  transition: opacity 300ms var(--bezier-soft),
              transform 300ms var(--bezier-soft);
}

.anim-fade-up {
  opacity: 0;
  transform: translateY(10px) scale(.98);

  &.is-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.anim-pop {
  opacity: 0;
  transform: scale(.96);

  &.is-visible {
    opacity: 1;
    transform: scale(1);
    transition-timing-function: var(--bezier-bounce);
  }
}
